# android updates
app_version.json

# environment
.env

# runtime
/var/log/
/var/cache/

# phpunit tests
/.phpunit.cache/

# dependencies
/vendor/

# OS files
.DS_Store
Thumbs.db

# Local temp dev stuff
/docs/chat/continuwuity_docs_from-git
/docs/chat/database_dump_2026-09-15_20-00
